TOKEN=pZ0GI2Y71UtgMe81VGwErZdzP06h9LwMhSeh9rgxqesu9WCcDxx3n84KsYFsVHOaktPf0JqA4d3OF0FIRvEVXw==
TIBBERTOKEN=g7DG1fqV7W74r--qdcUP_W2K-XnfE58-_Qt0K4qDsH4
URL=https://influx.lina.jan-ole.de:443
BUCKET=tibber
ORG=Default